# temp R files
.Rhistory
.Rapp.history
.RData
.Ruserdata

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# vignette suppl
vignettes/*.bbl
vignettes/*.log
vignettes/*-concordance.tex
vignettes/*.tex
vignettes/*.synctex.gz
vignettes/*.toc
vignettes/powsim_schematic.pdf



# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

.Rproj.user
